.detailCV {
    height: 100%;
    display: flex;
    width: 100%;
}

.detailDarkMode{
    background-image:url("../assets/detailDark.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.detailLightMode{
    background-image:url("../assets/detailLight.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.detailAvatarContainerCV {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.detailAvatarCV {
    border: 1px solid black;
    border-radius: 50%;
}

.detailAvatarNameCV{
    text-align: center;
    font-weight: 800;
    font-size: 16px;
}

.detailTechnologyContainerCV{
    display: flex;
    justify-content: center;
}

.technologyTitle {
    text-align: center;
}

.detailProjectsContainerCV {
    display: flex;
}

.projectDetailContainer {
    padding: 20px;
}

.repositoryDetailContainer {
    padding: 20px;
}