.detailCV {
  height: 100%;
  display: flex;
  width: 100%;
  position: relative;
}

.detailDarkMode {
 background-color: black;
}

.detailLightMode::after {
    background-color: white;
}

.detailAvatarContainerCV {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.detailAvatarCV {
  border: 1px solid black;
  border-radius: 50%;
}

.detailAvatarNameCV {
  text-align: center;
  font-weight: 800;
  font-size: 30px;
}

.detailInfoCV {
  display: flex;
  justify-content: center;
  align-items: center;
}

.detailTechnologyContainerCV {
  display: flex;
  justify-content: center;
}

.technologyTitle {
  text-align: center;
  font-size: 25px;
}

.detailProjectsContainerCV {
  display: flex;
}

.projectDetailContainer {
  padding: 20px;
  width: 60%;
  font-size: 20px;
}

.repositoryDetailContainer {
  padding: 20px;
  width: 40%;
  font-size: 20px;
}

.repositoryOption{
  padding: 5px 0px;
}

.repositoryOption:hover{
  transform: scale(1.04);
}
