.footerCV {
    width: 100vw;
    height: 6vh;
    position: relative;
}

.footerCVIconTheme{
    position: absolute;
    right: 20px;
    top: 13px;
}

@media screen and (max-height: 750px) {
    .footerCV {
      width: 100vw;
      height: 60px;
    }
  }
  