.headerCV {
    width: 100vw;
    height: 8vh;
}

.headerCVIconTheme{
    display: flex;
    justify-content: flex-end;
    padding: 20px;
}

.headerCV .headerCVLogout{
    cursor: pointer;
}

.headerCV .headerCVLogoutContainer {
    margin-left: 10px;
}