.homeCV{
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
}

.homeCV::after {
    content: "";
    background-image:url("../assets/space.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.7;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }

.homeCVTextBox {
    margin-bottom: 20px;
}

.homeCVH1{
    margin: 0;
    color: white;
    text-align: center;
}

.homeCVH2{
    margin: 0;
    color: white;
}

.homeCVButtonContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homeCVButton {
    color: white;
    cursor: pointer;
    font-size: 80px;
}

.homeCVButton:hover {
    transform: scale(1.4);
}
